<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.firebox.android.permission.BIND_FIREBOX_SERVICE"/>

    <application>
        <meta-data
                android:name="com.firebox.client.sdk.DECLARATION"
                android:value="true"/>
    </application>

</manifest>
